*{
    margin:0;
}
:root {
  --backgrond: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;
}

*{
    color: var(--text-color);
    font-family: 'Manrope', sans-serif;
}
body{
    background-color: var(--backgrond);
}
.topo{
    width:918px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin: 0 auto;
}
.topo .logo{
    width: 172px;
}
.topo-mobile{
    display:none;
}
.topo-mobile .menu-close{
    display:none;
    cursor:pointer;
    z-index: 3;

}
nav{
    width:471px;
    display: flex;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    font-size:14px;
    cursor:pointer; 
    z-index: 2;
}
button{
    width:172px;
    height: 37px;
    background-color: transparent;
    border:1px solid var(--button);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 6px;
    cursor:pointer;
}
.img-fundo1{
    position:absolute;
    top:0;
    right:0;
    z-index: -1;
   
}
.img-fundo2{
    position:fixed;
    bottom:0;
    left:0;
    z-index: -1;
} 
main{
    display:flex;
    justify-content:center;
    
}
.centro{
    width:799px;
    
}
.centro p{
    text-align: center;
    font-weight:700;
    font-size:80px;
    margin:0;
}
.centro .texto{
    display:none;
    
}
.centro .titulo{
    margin-top:56px;
}
.centro .subtitulo{
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
    color:#000;
    z-index: -2;
    position: relative;
}
.pegar-cafe-mobile{
    display:none;
}
.menu-mobile{
    display: none;
    
}
.menu-mobile ul{
    padding:0;
}
.menu-mobile ul a{
 text-decoration:none; 
 z-index: 4;  
}
.menu-mobile ul li{
    list-style-type: none;
    padding: 20px 20px;
    border-left: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    color: var(--text-color-menu-mobile);
}

.menu-mobile .selected{
    border-left: 5px solid var(--button);
    font-weight:700;
}
@media screen and (max-width:433px){
    .topo{
        display:none;
    }
    .topo-mobile{
        display:block;
        
    }
    .topo-mobile nav{
        display: flex;
        justify-content:space-between;
        width: calc(100% - 60px);
        padding:18px 30px 25px 30px;
        border-bottom: 1px solid var(--border);
        
    }
    .centro{
        padding-top: 108px;
    }
    .menu-open{
        width:24px;
        cursor:pointer;
        z-index:3;
    }
    .img-fundo1{
        display:none;
    }
    .img-fundo2{
        position:fixed;
    }
    .centro{
        width: 373px;
    }
    
    .centro .texto{
        width:373px;
        display: block;
        font-size:30px;
        
    }
    .pegar-cafe-mobile{
        display:block;

    }
    
    .copo-cafe{
        width: 373px;
    }
    .centro p{
        font-size:50px;
    }
}

